.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

select {
  border: 1px solid #000;
  background-color: rgb(248, 201, 201);
  border-radius: 8px;
  width: 200px;
  height: 45px;
  padding: 10px 15px;
}

button {
  height: 45px;
  margin-left: 10px;
  border-radius: 8px;
  background-color: rgb(248, 201, 201);
  border: 1px solid #000;
}
